@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview {
  background: hsl(30, 80%, 96%);
  box-shadow: 10px 10px 10px hsl(30, 38%, 92%);
  margin-top: 8em;
  border-radius: 10px;
  width: 90rem;
  padding: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 7px;
  width: 520px;
}

.card img {
  width: 230px;
  height: 33.1em;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.second {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 2.2em;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  letter-spacing: 2px;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}

h1 {
  width: 7em;
  margin-bottom: 1.5em;
  color: hsl(212, 21%, 14%);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.composed {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  width: 15em;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1.5em;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.third :nth-child(1) {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 3em;
  font-family: "montserrat", sans-serif;
}

.third :nth-child(2) {
  margin-left: 2em;
  text-decoration: line-through;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
  background-color: hsl(158, 36%, 37%);
  font-family: 'Montserrat', sans-serif;
  padding: 10px 70px;
  border-radius: 10px;
}

.add a{
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: 500;
  margin-left: 1em;
}

.add > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
