*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

section
{
  background-color: #f2ebe3;
  display: flex;
  justify-content: center;
  align-items: center;
}